<%- include("../partials/header") %>






<div class="container" >
		
		<header class="jumbotron container">
			<h1>Welcome to Yelp Camp !!</h1>
			<p>View our hand-picked campgrounds from all over the world</p>
			<p>
			<a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a new campground</a>
			</p>
			
		</header>
		
	


	<div class="row text-center" style="display:flex; flex-wrap:wrap">
		<% campgrounds.forEach(function(campgrounds){ %>
		<div class="col-md-3 sol-sm-6">
			<div class="thumbnail">
				
				<img src="<%= campgrounds.image%>" >
				<div class="caption ">
					<h4><%= campgrounds.name %></h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campgrounds._id%>" class="btn btn-primary " >More Info</a>
				</p>
			</div>
		</div>

		<% }) %>


		<%- include("../partials/footer") %>

	</div>
	
</div>